body { 
	overflow-x: hidden; 
	/*padding: 120px 0 0 0;  120px to account for fixed pos of topbar*/
	margin: 0;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}
.container-fluid {
	/*padding: 0;   120px to account for fixed pos of topbar*/
	padding: 120px 0 0 0;
}
#topbar {
	background: -webkit-linear-gradient(top, rgba(0,117,116, 1), rgba(22,169,157, .8)); 
	padding: 25px;
	border-bottom: 7px solid #f6a76a;
	box-shadow: 10px 0 10px 5px #aaa;
	height: 120px;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: top;
}
#topbar a, #topbar li a {
	color: #fff;
	text-transform: uppercase;
	font-family: 'Russo One', sans-serif;
	font-size: 1rem;
}
#topbar > a {
	font-size: 1.25rem;
	text-decoration: none; /* if I don't do this, Bootstrap is sticking an 
						    underline on hover - annoying! */
}
/*#topbar span:first-of-type {*/
#topbar #loc {
	margin-left: 150px;
}

ul {
	list-style-type: none;
}
#topbar #outer-ul {  
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin: 0;
}
#topbar ul li {
	color: #fff;
	margin-left: 25px;
	font-family: "Russo One", sans-serif;
	font-size: .85rem;
	transition: .25s ease-out; /* make hover nice and smooth */
}

#topbar ul li a {
	color: #fff;
	text-decoration: none;
	transition: .25s ease-out;
}
#topbar ul li:hover {
	color: #f6a76a;
	cursor: pointer;
} 
#topbar ul li a:hover {
	color: #f6a76a;
}	
#burger {
	width: 70px; 
	height: 50px;
	position: absolute;
	top: 25px;
	right: 25px; 
	display: none; 
	cursor: pointer;
	background-color: #f6a76a;
	padding: 5px;
	border-radius: 5px;		
}
.fa.fa-navicon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 36px;
}
#overlay {
	display: none;
}

#banner {
	position: relative;
	min-height: 484px;
	color: #fff;
}

/*   autoplay background video*/

#video-container {
	position: absolute;
	z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
	background-position: 50% 50%;
    background-image: none;
}
	 
video {
	position: absolute;
	bottom: 50%;
	right: 50%;
	transform: translate(50%, 50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
/*	width: 100%;
	height: auto; */
}

.info-text p, .info p {
	font-size: 1.25rem;
}

#program .row {
	min-height: 484px;
}
.info {
	padding: 20px;
	box-sizing: border-box;
	background: #006b6c; /*#16a99d; Ask Shoaib about color change */
	border-radius: 5px;
	color: #fff;
}
.info h1 {
	font-size: 2.25rem;
	font-weight: bold;
	text-transform: uppercase;
}
.info p {
	font-size: 18px;
	font-weight: normal;
}
#program .info-text {
	text-align: right;
}
#program .info-text h3 {
	font-size: 24px;
	font-weight: normal;
}

.info-text .big {
	font-size: 45px;
	font-weight: bold;
	text-transform: uppercase;
}
input[type='submit'] {
	width: 95%;
	height: 60px;
	border-radius: 5px;
	border: none;
	outline: none;
	margin-top: 20px;
	background-color: #20ecbe;
	font-size: 2rem;
	font-weight: bolder;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	transition: .25s ease-out; /* make hover nice and smooth */
}

input[type='submit']:hover {
	background-color: #01c6ae;
}

.names {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
input {
	background: transparent;
	margin-top: -10px;
	border: none;
	outline: none;
	color: #fff;
	font-size: 1.5rem;
	width: 45%;
	padding-bottom: 5px;
	border-bottom: 1px solid #20ecbe;
	text-align: center;
}
.phone input {
	padding-bottom: 0;
	font-size: 21px;
}
form {
	position: relative;
}
.email, .phone {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}
.email input { /* deleted phone, phone-bot for now while testing 3-part phone input */ 
	width: 90%;
}
::-webkit-input-placeholder {  /*for (Chrome/Safari/Opera) input::placeholder*/
    color: #fff;
	font-size: 1.5rem;
   /* opacity: 1;  Firefox */
	letter-spacing: .8px;
}
::-moz-placeholder {  /* Firefox 19+ */
	color: #fff;
	font-size: 1.5rem;
    opacity: 1; /* Firefox */
	letter-spacing: .8px;
}	
.error {
	position: absolute;
	top: -100px;
	left: 0;
	background: #fefefe;
	max-width: 300px;
	padding: 20px;
	color: orange;
	font-family: inherit;
	visibility: hidden;
}

#cards {
	background-color: #f2f2f2;
}
#cards .remark {
	padding: 25px 0;
	margin-bottom: 0;
}

#cards h1 {
	color: #005f63;
	padding: 20px 0;
}
#trilogy {
	padding-top: 75px;
	padding-bottom: 75px;
}
#trilogy .container {
	background: #007574;
	color: #fff;
	border: 10px solid #005f63;
}
#trilogy .row {
	padding: 30px;
	border: 2px solid #fff;
}
#trilogy .row p {
	font-size: 18px;
	font-family: Verdana, sans-serif;
	line-height: 1.5rem;
	margin-bottom: .75rem;
}
#trilogy span {
	color: #f6a76a;
	font-weight: bold;
}
#stats {
	margin-top: 0;
	background-image: url(images/web.jpg); 
	/* Create the parallax scrolling effect */
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	/* Set a specific height */
	min-height: 349px;   
   	display: flex;
	justify-content: center;
	align-items: center;
}

#stats span {
	color: #f6a76a;
}
#stats .span-two {
	font-size: 1.1rem;
	padding-top: 30px;
	display: inline-block;
	color: #fff;
} 
#stats p {
	color: #fff;
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 1.8;
	margin-top: 25px;
	padding: 0 20px;
	box-sizing: border-box; 
	text-align: left; 
}
#learning {
	background-color: #f2f2f2;
	padding: 50px 0 0 0;
}
#graduates {
	background-color: #f2f2f2;
}
#inner-ul {
	padding: 10px 0 0 0;
	box-sizing: border-box;
}
#learning h3, #graduates h3, #faq h3 {
	color: #005f63;
	padding: 10px 20px 10px 40px;
	font-size: 32px;
}

.col-lg-7 {
	display: flex;
	align-items: center;
	justify-content: center;
}
.col-lg-5 {
	min-height: 500px;
}
#faq-info h3 {
	padding: 100px 0 25px 0;
	box-sizing: border-box;
}
#faq-info ul li {
	font-size: 16px;
	cursor: pointer;
}
#learning li, #graduates li, #faq-info li {
	line-height: 1.5rem;
	font-size: 16px;
	color: #333;
	margin-bottom: .5rem;
	position: relative;
	padding-left: 30px;
}
#faq-info li {
	padding-bottom: 10px;
}
#learning .col-lg-5, #graduates .col-lg-5, #faq .col-lg-5 {
	
	background-size: cover; 
	background-position: center;
	background-repeat: no-repeat;
	min-height: 500px;
	/*max-width: 100%;  */
}
#graduates .col-lg-5 {
	margin-bottom: 40px;
}

#faq .col-lg-5 {
	background-position: left; 
	/*height: 600px;*/
	/*min-height: 600px; */
}
#learn-info, #graduates-info, #faq-info {
	max-width: 65%;
	margin: 0 auto;
	padding: 20px 0;
}

#graduates-info {
	padding: 120px 0 140px 0;
	box-sizing: border-box;
}
#learning .col-lg-5 {
	background-image: url(images/learn.jpg);
}
#graduates .col-lg-5 {
	background-image: url(images/graduate.jpg);
}
#faq .col-lg-5 {
	background-image: url(images/faq.jpg);
}
.faqItem:hover span {
	text-decoration: underline;
}
#faq-info .innerList .innerOne {
	margin-top: 10px;
	margin-bottom: 0;
	padding-bottom: 0;
}
#faq-info .innerList:last-of-type li:first-child {
	margin-top: 10px;
}
.fa.fa-arrow-circle-right, .fa.fa-arrow-circle-down {
	font-size:24px;
	color:darkcyan;
	position: absolute;
	left: -3px;
	top: 3px;
}
.fa.fa-circle {
	font-size: 12px;
	color:darkcyan;
	position: absolute;
	left: 3px;
	top: 10px;
}
#about {
	background-image: url(images/about.jpg); 
	/* Create the parallax scrolling effect */
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	/* Set a specific height for parallax */ 
	min-height: 505px;
	padding: 60px 0;
}

#about p {
	color: #fff;
	font-size: 21px;
	line-height: 1.8;
	padding-bottom: 20px;
	box-sizing: border-box; 
}
#about h1 {
	color: #f6a76a;
	text-align: left;
	padding:  40px 20px 30px 0; 
	box-sizing: border-box;
	font-size: 38px;
	font-family: Verdana, sans-serif;
	font-weight: bold;
}
.my-card {
	box-sizing: border-box;
	text-align: center;
}
.my-card p {
		padding-top: 10px;
		text-align: center;
}
#faq ul {
	list-style: none;
	padding: 0;
}
#footer-form {
	margin-top: 0;
	background-image: url(images/form.jpg); 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 430px; 
	display: flex;
	justify-content: center;
	align-items: center;	
}
#footer-form .info {
	max-width: 555px;
	/*margin: 0 auto;*/
	margin: 50px auto;
}
#the-end {
	background-color: #007574;
	color: #fff;
	padding: 50px 0 50px 0;
	font-family: Verdana, sans-serif;
}
#the-end h2 {
	font-family: Verdana, sans-serif;
	margin-bottom: 20px;
	font-size: 1.8rem;
	color: #fefefe;
	font-weight: 500;
	letter-spacing: normal;
}
#the-end p {
	font-size: 1.1rem;
	font-weight: normal;
}
#the-end a {
	color: #f6a76a;
	font-weight: bold;
}
#the-end span {
	font-size: 1rem;
}
#img-svg-1 {
	width: 300px;
	margin-bottom: 30px;
}
#img-svg-2 {
	width: 220px;
}
.three {
	width: 40px;
}
.four {
	width: 60px;
}
.phone {
	font-size: 21px;
	display: flex;
	justify-content: center;
	align-items: baseline;
}
.phone input {
	font-size: 21px;
	border: none;
	outline: none;
	font-family: Verdana,sans-serif;
	text-align: left;
	border-bottom: 1px solid #20ecbe;
	padding-bottom: 0;	/*#fff; */
	
}
.privacy {
	box-sizing: border-box;
	display: none;
	align-items: baseline;
}

.privacy p {
	font-size: .8rem;
	font-family: Verdana, sans-serif;
	color: #fff;
	text-align: left;
	margin: 15px 0 0 0;
	line-height: 1.2;
}
#privacyBot p {
	margin: -15px 0 0 0;
}
.privacy a {
	color: #f6a76a;
	text-decoration: none;
	font-weight: bold;
	transition: .25s ease-out; /* make hover nice and smooth */
}
.privacy a:hover{
	text-decoration: underline;
}
.checkholder {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */

.checkholder input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 15px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #f6a76a; /*#20ecbe;*/
}
#privacyBot .checkmark {
	top: 20px;
}
/* On mouse-over, add a different background color */

.checkholder:hover input ~ .checkmark {
    background-color: #20ecbe;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.checkholder input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkholder .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;  
    height: 10px;
    border: solid white;
    box-sizing: content-box;
    border-width: 0 3px 3px 0; 
   	-webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.innerList {
	display: none;
}
@media (min-width: 993px) {
	
	.my-card {
		max-width: 250px;
	}
}
@media (max-width: 992px) { /* go to the overlay navbar */

	#img-svg-1, #img-svg-2 {
		max-width: 100%;
		height: 100%;
	}

	/*#banner {
		min-height: 670px;
	}*/
	#program .info {
		width: 100%;
	}
	#program .info-text {
		margin-top: 50px;
	}
	#graduates .col-lg-5 {
		margin-bottom: 10px;
	}
	#graduates-info {
		padding: 0 0 35px 0;
		box-sizing: border-box;
	}	
	#faq-info {
		padding: 0 0 40px 20px;
	}
	#faq-info h3 {
		padding: 30px 0 20px 0px;		
	}
	#faq-info ul li {
		font-size: 1rem;
	}
	
	#faq .col-lg-5 {
		min-height: 695px; 
		background-image: url(images/faq_mob.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom center;
	}
	.info {
		margin: 20px 0 25px 0;
		width: 100%;
	}
	.info h1 {
		font-size: 1.5rem;
	}
	#program .info-text {
		text-align: center;
	}
		
	#burger {
		display: block;		
	}
	#topbar #outer-ul {
		display: none;
	}
	*:after, *:before {
	  box-sizing: border-box;
	  -moz-box-sizing: border-box;
	}
	#overlay li a 
		{margin:0;padding:0;border:0 none;position: relative; outline: none;
	}	
	#overlay {
		width: 100%;
		position: fixed;
		top: 120px; /* because of the topbar */
		left: 0;
		bottom: 0;
		background: #01a093; /*#1b8d82; */
		display: none; /* only display when burger is clicked - see script */
		margin: 0;
		padding: 0;
	}

	#overlay ul {
		height: 100%;
		margin: 0;
		margin-top: 50px;
		padding: 0;
	}
	#overlay li {
		height: 5%;
		text-align: center;
		margin: 15px 0;
	}
	#overlay li a {
		font-family: "Russo One", sans-serif;
		color: #fff;
		text-decoration: none;
		z-index: 9;
		display: inline-block;
		font-size: 1.5rem;
		letter-spacing: .8px;
	}
	#overlay.show {
		z-index: 9;
		display: flex;
		justify-content: center;
	}
	#overlay li a:before {
	  box-sizing: border-box;
	  -moz-box-sizing: border-box;
	}
	#overlay li a:after {
	  box-sizing: border-box;
	  -moz-box-sizing: border-box;
	}
	#overlay li a:before {
	  content: "";
	  position: absolute;
	  width: 100%;
	  height: 3px; 
	  bottom: 0;
	  left: 0;
	  background: #fff;
	  visibility: hidden;
	  border-radius: 5px;
	  transform: scaleX(0);
	  transition: .3s linear; /*.25s linear; */
	}
	#overlay li a:hover:before,
	#overlay li a:focus:before {
	  visibility: visible;
	  transform: scaleX(1);
	}
	#trilogy .row p {
		font-size: 16px;
	}
/*	#learning .col-lg-5, #graduates .col-lg-5 { , #faq .col-lg-5 { 
		height: 300px;
		min-height: 500px;
	} */
	#learn-info, #graduates-info, #faq-info {
		max-width: 95%;
	}
	#stats p {
		font-size: 1.25rem;
		letter-spacing: default;
		padding: 0 0 0 10px;
	}
	#about {	
		padding: 0 0 20px 20px;
	}
	
	#about p {
		font-size: 1.1rem;
		letter-spacing: default;
		box-sizing: border-box; 
		margin: 0;
	}
	#about h1 {
		font-size: 1.5rem;
	}
}
@media (max-width: 768px) {
	#img-svg-1 {
		margin-bottom: 0;
	}
	#faq .col-lg-5 {
		min-height: 575px; 
	}
}
@media (max-width: 640px) {
	/*#faq .col-lg-5 {
		min-height: 575px; 
	}*/
	.info h1 {
		font-size: 23px;
	}
	input[type="submit"] {
		font-size: 23px;
	}
	#program .info-text h3 {
		font-size: 16px;
	}
	#program .info-text p {
		font-size: 16px;
	}
	.info-text .big {
		font-size: 23px;
	}
	#faq .col-lg-5 {
		min-height: 475px; 
	}

	.info {
		margin-top: 0;		
	}
	
	#topbar > a {
		font-size: 1rem;
	}

	#trilogy .row {
		padding: 10px;
	}
	
	#trilogy .col-md-4 div {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#trilogy .col-md-4 div {
		width: 100%;
	}
	
	.info {
		width: 95%;
	}
	
	#trilogy .col-md-4 div {
		width: 40%;
	}
	
	#stats p {
		font-size: 1.1rem;
		letter-spacing: default;
		padding: 0 0 0 10px;
	}
	
	input {
		width: 40%;
	}
	#about p {
		font-size: 1.1rem;
	}
	#about h1 {
		font-size: 1.5rem;
	}
	#the-end p {
		font-size: 1rem;
	}
}
@media (max-width: 460px) {
	
	#faq .col-lg-5 {
		min-height: 330px; 
	}
	#burger {
		width: 50px; 
		height: 30px;
		position: absolute;
		/*top: 25px;*/
		/*right: 25px; */
		top: 35px;
		right: 10px;
	}
	.fa.fa-navicon {
   	  font-size: 26px;
	}
	
	.info {
		padding: 5px 5px 20px 5px;
		width: 96%;
	}
	.names {
		width: 100%;
		display: flex;
		justify-content: default;
	}
	input {
		width: 48%;
	}
	input {
		font-size: 18px;
	}
	input[type="submit"] {
		font-size: 23px;
	}	
	::-webkit-input-placeholder { /*for (Chrome/Safari/Opera) input::placeholder*/
    	font-size: 18px;
    }
	#topbar > a {
		
		align-self: center;
	}
	#topbar span:nth-child(1) {
		display: none;
	}
	#topbar #loc {
		margin-left: 100px;
	}
	
	#about p {
		font-size: .9rem;
	}
	#graduates-info {
		padding: 30px 0 20px 0;
	}
	#faq-info h3 {
		padding: 20px 0 0 0;
		box-sizing: border-box;
	}
}